@model CommentCreateDto
@{
    var newComment = new CommentCreateDto();
}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <input type="hidden" id="postId" value="@ViewBag.post.Id" />
                <h2 class="mb-3 font-weight-bold">@ViewBag.post.Title</h2>
                <span class="category mb-3 inline-block">@ViewBag.post.Category.Name</span>
                <span class="category mb-3 inline-block float-right">@ViewBag.post.CreatedAt</span>
                <p><img src="~/pictures/@ViewBag.post.ImageUrl" class="img-fluid imgDetailThumb"></p>
                <p>@ViewBag.post.Content</p>

                <!--like button-->
                <div class="post-action my-3 float-right d-md-flex align-items-center">
                    <div id="likeButton"><i class="icon-heart"></i></div>
                    <span id="likeCountNumber">@ViewBag.post.LikeCount</span>
                </div>

                <!--comment-list-->
                <div class="pt-5 mt-5">
                    <h3 class="mb-5 font-weight-bold">@ViewBag.post.Comments.Count Yorum</h3>
                    <ul id="comment-list" class="comment-list">
                        @*@foreach (var comment in ViewBag.post.Comments)
                        {
                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="/images/person.png">
                                </div>
                                <div class="comment-body">
                                    <h3>@comment.AuthorName</h3>
                                    <div class="meta">@comment.CreatedAt</div>
                                    <p>@comment.Text</p>
                                </div>
                            </li>
                        }*@
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Yorum yap</h3>
                        <form class="p-3 p-md-5 bg-light">
                            <div class="form-group">
                                <label for="name">Ad Soyad *</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="message">Mesaj *</label>
                                <textarea id="message" cols="30" rows="7" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Gönder" class="btn py-3 px-4 btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("Sidebar")
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        var postId = $("#postId").val();

        //LOAD COMMENTS
        getComments();

        //LIKE BUTTON
        $("#likeButton").on("click", likePost)

        //SUBMIT COMMENT
        $("form").submit(function (event) {
            submitComment();
            event.preventDefault();
        })

        //FUNCTIONS
        function getComments(){
            var commentList = document.getElementById("comment-list");
            $.ajax({
                url: 'https://localhost:7241/api/Comments/' + postId,
                type: 'get',
                success: function (result) {
                    let rawComments = result.data;
                    rawComments.forEach(function (item) {
                        var li = document.createElement("li");
                        li.className = "comment";
                        li.innerHTML = `<div class="vcard bio">
                                            <img src="/images/person.png">
                                        </div>
                                        <div class="comment-body">
                                            <h3>${item.authorName}</h3>
                                            <div class="meta">${item.createdAt}</div>
                                            <p>${item.text}</p>
                                        </div>`
                        commentList.appendChild(li);
                    });
                },
                error: function () {
                    alert("get comment list error");
                }
            })
        }

        function likePost(){
            $.ajax({
                url: 'https://localhost:7241/api/Posts/LikePost/' + postId,
                type: 'put',
                success: getLikeCount,
                error: function () {
                    alert("like error");
                }
            })
        }
        
        function getLikeCount(){
            $.ajax({
                url: 'https://localhost:7241/api/Posts/GetPostByIdWithNoTracking/' + postId,
                type: 'get',
                success: function (data) {
                    document.getElementById("likeCountNumber").innerHTML = data.data.likeCount;
                },
                error: function () {
                    alert("get like count error");
                }
            })
        }

        function submitComment(){
            var formData = {
                text: $("#message").val(),
                authorName: $("#name").val(),
                postId: parseInt($("#postId").val()),
            }

            $.ajax({
                url: 'https://localhost:7241/api/Comments',
                type: 'post',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function(){
                    var list = $("#comment-list");
                    list.empty();

                    getComments()
                },
                error: function () {
                    alert("comment post error");
                }
            })
        }
    })
</script>