@model CommentCreateDto

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <input type="hidden" id="postId" value="@ViewBag.post.Id" />
                <h2 class="mb-3 font-weight-bold">@ViewBag.post.Title</h2>
                <span class="category mb-3 inline-block">@ViewBag.post.Category.Name</span>
                <span class="category mb-3 inline-block float-right">@ViewBag.post.CreatedAt</span>
                <p><img src="~/pictures/@ViewBag.post.ImageUrl" class="img-fluid imgDetailThumb"></p>
                <p>@ViewBag.post.Content</p>

                <!--like button-->
                <div class="post-action my-3 float-right d-md-flex align-items-center">
                    <div id="likeButton"><i class="icon-heart"></i></div>
                    <span id="likeCountNumber">@ViewBag.post.LikeCount</span>
                </div>

                <!--comment-list-->
                <div class="pt-5 mt-5">
                    <h3 class="mb-5 font-weight-bold">@ViewBag.post.Comments.Count Comments</h3>
                    <ul class="comment-list">
                        @foreach (var comment in ViewBag.post.Comments)
                        {
                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="/images/person.png">
                                </div>
                                <div class="comment-body">
                                    <h3>@comment.AuthorName</h3>
                                    <div class="meta">@comment.CreatedAt</div>
                                    <p>@comment.Text</p>
                                </div>
                            </li>
                        }
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form method="post" asp-controller="Comments" asp-action="AddComment" class="p-3 p-md-5 bg-light">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" asp-for="AuthorName" id="name">
                            </div>
                            <div class="form-group">
                                <label for="message">Message *</label>
                                <textarea asp-for="Text" id="message" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <input type="hidden" asp-for="PostId" value="@ViewBag.post.Id" />
                            <div class="form-group">
                                <input type="submit" value="Gönder" class="btn py-3 px-4 btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("Sidebar")
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        var postId = $("#postId").val();
        $.ajax({
            url: 'https://localhost:7241/api/Posts/GetPostByIdWithNoTracking/'+postId,
            type: 'get',
            success: function (data) {
                document.getElementById("likeCountNumber").innerHTML = data.data.likeCount;
            },
            error: function () {
                alert("error");
            }
        })

        $("#likeButton").on("click", function () {
            $.ajax({
                url: 'https://localhost:7241/api/Posts/LikePost/'+postId,
                type: 'put',
                success: function (result) {
                    $.ajax({
                        url: 'https://localhost:7241/api/Posts/GetPostByIdWithNoTracking/'+postId,
                        type: 'get',
                        success: function (data) {
                            document.getElementById("likeCountNumber").innerHTML = data.data.likeCount;
                        },
                        error: function () {
                            alert("error");
                        }
                    })
                },
                error: function () {
                    alert("error");
                }
            })


        })
    })
</script>