@using System.Security.Claims
@model UserViewModel
<div class="container">
    @if (TempData["SuccessMessage"] != null)
    {
        <p id="info" style="color:green;font-weight:600;background-color:lightgreen;padding:10px;border-radius:25px;text-align:center;">
            @TempData["SuccessMessage"]
        </p>
    }
    <div class="row pt-2">
        <div class="col-md-6 offset-md-3">
            <user-picture-thumbnail class="rounded mx-auto d-block" width="250px" height="250px" picture-url="@Model.PictureUrl"></user-picture-thumbnail>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-md-6 offset-md-3">
            <a class="btn btn-danger" asp-route-returnurl="/Home/Index" asp-controller="Member" asp-action="SignOut">Çıkış Yap</a>
            <a class="btn btn-success" asp-controller="Member" asp-action="PasswordChange">Şifremi Değiştir</a>
            <a class="btn btn-primary" asp-controller="Member" asp-action="UserEdit">Profilini Düzenle</a>
            @{
                if(User.HasClaim(x=>x.Type == ClaimTypes.Role && x.Value == "admin"))
                {
                    <a class="btn btn-dark" asp-area="Admin" asp-controller="Roles" asp-action="Index">Admin</a>
                }
            }
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-md-6 offset-md-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Kullanıcı Adı</th>
                        <th>Email</th>
                        <th>Telefon Nu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Username</td>
                        <td>@Model.Email</td>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>